.Card-checkbox {
    outline: 1px solid #d15c43;
    outline-offset: -1px;
    transform: scale(2);
}

.Card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card-header div {
    flex: 2;
}

.Card-icon {
    margin-right: 20px;
}