.SignIn {
    display: flex;
    justify-content: center;
    color: darkgreen;
    margin: auto;
    width: 50%;
}

.SignIn * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.SignIn-left {
    text-align: right;
    margin-right: 20px;
}

.SignIn-submit {
    display: flex;
    justify-content: center;
    margin: auto;
}

.SignIn-submit-disabled {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #f55a42;
}

.SignIn-CustomInput {
    background: lightblue;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.SignIn-CustomInput-invalid {
    background: #f55a42;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}