.App {
  color: black;
  border-style: solid;
  border-width: thick;
  min-height: 99vh;
}

.App-header {
  background-color: white;
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: blue;
  border-style: solid;
  border-width: thick;
}
