.App {
    color: black;
    border-style: solid;
    border-width: thick;
    min-height: 99vh;
}

.App-header {
    padding: 20px 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    color: blue;
    border-style: solid;
    border-width: thick;
}

.App-checkbox-label {
    color: green;
    font-size: calc(7px + 2vmin);
    font-weight: bold;
    margin-left: 20px;
}

.App-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.App-cards .Card {
    margin-top: 30px;
}
