.Card {
    background-color: white;
    padding: 20px;
    font-size: calc(5px + 2vmin);
    font-weight: bold;
    color: green;
    border-style: solid;
    border-width: thick;
}

.Card-checked {
    background-color: pink;
    padding: 20px;
    font-size: calc(5px + 2vmin);
    font-weight: bold;
    color: blue;
    font-style: italic;
    border-style: solid;
    border-width: thick;
}