.Card {
    background-color: white;
    padding: 20px;
    font-size: calc(5px + 2vmin);
    font-weight: bold;
    color: green;
    border-style: solid;
    border-width: thick;
    flex: 0 0 40%;
}

.Card-checked {
    background-color: pink;
    padding: 20px;
    font-size: calc(5px + 2vmin);
    font-weight: bold;
    color: blue;
    font-style: italic;
    border-style: solid;
    border-width: thick;
    margin-top: 40px;
    margin-left: 20px;
    flex: 0 0 40%;
}

.Card-icon {
    margin-right: 20px;
}