.AddCardPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    color: darkgreen;
    border-style: solid;
    border-width: thick;
    margin: auto;
    width: 50%;
}

.AddCardPanel * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.AddCardPanel-left {
    text-align: right;
    margin-right: 20px;
}

.AddCardPanel-ContentEditable {
    background: lightgrey;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.AddCardPanel-ContentEditable-disabled {
    background: #f55a42;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.AddCardPanel-submit-disabled {
    background-color: #f55a42;
}