.App-nav-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.App-nav-block li {
    display: inline-block;
    margin: 20px;
}

.App-nav-block a {
    text-decoration: none;
    color: black;
}

.App-nav-block a:hover {
    color: #11923f;
}